[Unit]
Description=ImageStore Frontend
After=network.target

[Service]
Type=simple

Restart=on-failure
WorkingDirectory=/etc/imagestore/frontend
ExecStart=/usr/bin/npm start &

[Install]
WantedBy=multi-user.target


