.TopBar {
  grid-area: TopBar;
  background: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "left middle right";
  width: 100vw;
  outline: 1.5px solid hsl(0, 0%, 85%);
}

.left {
  grid-area: left;
  display: block;
  float: left;
  padding: 7px;
  width: 100px;
}
.middle {
  display: block;
  width: 40vw;
  grid-area: middle;
  padding-top: 8px;
}

.rightHolder {
  grid-area: right;
}

.right {
  padding: 7px;
  display: block;
  float: right;
  margin-right: 10px;
}

.IconButton {
  padding-left: 15px;
}
