.App {
  text-align: center;
}

.photoBox {
  transition: all 0.7s linear ease-out;
  position: absolute;
  left: 15px;
  top: 15px;
  height: 20px;
  width: 20px;
}

.grid-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 65px 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "TopBar TopBar"
    "LeftBar Main-Content";
}
.LeftBar {
  grid-area: LeftBar;
  background-color: white;
  height: auto;
}
.Main-Content {
  grid-area: Main-Content;
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 10px;
  overflow: auto;
  transition: all 1s ease-in-out;
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  color: rgb(0, 0, 0);
}
